:root {
    --yellow: #FCD116;
    --blue: #003893;
    --red: #CE1126;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


.yellow {
    background-color: var(--yellow);
    height: 16rem;
}

.blue {
    background-color: var(--blue);
    height: 8rem;
}

.red {
    background-color: var(--red);
    height: 8rem;
}

h1 {
    text-align: center;
    border-bottom: 1px solid rgb(160, 160, 160);
    padding: 0 0 1rem;
}

footer {
    text-align: center;
}