:root {
    --light1: #accbe1;
    --light2: #7b9cb4;
    --light3: #637081;
}

body {
    background-color: #536b78;
    color: var(--light1);
    border: 1px solid var(--light1);
    width: 80%;
    padding: 15px;
    font-family: Verdana;
}

h1 {
    margin: 0;
}

form {
    border: 1px dashed var(--light2);
    margin-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}

form input, form button {
    border-style: none;
    border: 2px solid var(--light2);
    background-color: var(--light3); 
    color: var(--light1);
}

form button:hover {
    cursor: pointer;
}

li {
    font-weight: bold;
    color: var(--light1);
}

table, th, td {
    background-color: var(--light3);
    border: 2px solid var(--light2);
    border-collapse: collapse;
    padding: 5px; /* Added padding for better spacing */
}

td.btnSuppr {
    text-align: center;
}

th {
    text-align: center;
}

/* Style for the delete button */
.btnSuppr {
    border: 2px solid var(--light2); /* Add a border */
    background-color: var(--light3);
    color: var(--light1);
    font-weight: bold; /* Make the text bolder */
    padding: 5px 10px; /* Add padding for better appearance */
    cursor: pointer; /* Show pointer cursor on hover */
}

.btnSuppr:hover {
    background-color: var(--light2); /* Change background on hover */
}