body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 800px;
    padding: 20px;
    background-color: #e0f7ff;
    border: 2px solid #007acc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f99;
}

#result, #majorityStatus, #retirementStatus {
    margin-top: 20px;
    font-weight: bold;
}

#result strong, #majorityStatus strong, #retirementStatus strong {
    color: #007acc;
}