
:root {
    --blue: #008cba;
    --gray: #555;
    --green: #4caf50;
    --blue-hover: #008cbad8;
    --gray-hover: #555555d8;
    --green-hover: #4caf50d8;
    --black: #252525;
    --light-gray : #e6e6e6;
}

body{
    font-family: monospace;
    font-size: 15px;
}

h1 {
    color: var(--blue);
}

nav {
    border-top: 1px outset var(--black);
    border-bottom: 1px inset var(--black);
    padding: 15px 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    border: none;
    padding: 15px 32px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}

.badge {
    padding: 0 5px;
    color: #fff;
}

.badge-gray {
    background-color: var(--light-gray);
    color: var(--black);
    font-size: .4em;
    border-radius: 10px;
}

.btn-blue {
    background-color: var(--blue);
}

.btn-gray {
    background-color: var(--gray);
}

.btn-green {
    background-color: var(--green);
}

nav .btn-blue:hover {
    background-color: var(--blue-hover);
}

nav .btn-gray:hover {
    background-color: var(--gray-hover);
}

nav .btn-green:hover {
    background-color: var(--green-hover);
}

table {
    border: 2px outset var(--black);
    font-size: 1.05em;
}

tr, th, td {
    border: 1px inset var(--black);
}

th {
    background-color: var(--light-gray);
}

td .btn-green {
    display: block;
}

table img {
    width: 55px;
}

header a {
    text-decoration: none;
}

@media (max-width: 730px) {
    thead {
        display: none;
    }

    tr {
        display: flex;
        flex-wrap: wrap;
    }
    td {
        width: 100%;
    }
}
