body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
}


header{


  .navbar {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.4em;
      font-weight: bold;
    }

    
  }



}



nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  align-items: center;
}


#Bluetxt {
  color: #27a3dc;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.3em;
}

.product-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3em;
  height: 100%;
  width: 80%;
  margin: 0 auto;

}

.product-image {
  display: flex;
  justify-content: center;
  width: 50%;
}

.product-image i {
  font-size: 1.5em;
}

.product-display img {
  width: 100%;
}

.product-details {
  width: 33%;
  
}

.label-container {
    display: flex;

    gap:1em;
}

.label-item {
  width: 100%;
}

.product-display h2 {  
  font-size: 1.6em;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: left;
}

.product-display span {    
    font-size: large;
    color: green;
    background-color: rgba(144, 238, 144, 0.463);
    padding: 10px;
    border-radius: 10px;

}

.product-details .price {
  font-size: 3em;
  font-weight: bolder;
  margin-top:10px ;
  margin-bottom: 10px;
}

.product-details label {
  
  margin: 10px 0 5px;
  font-size: large;
  
}
.product-details select {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  display: block;
  font-size: large;
}

.add-to-cart {
  background-color: #000;
  color: white;
  font-size: large;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;  
}

  .description {
  font-size: 1.1em;
  border: 1px solid #000;
  padding: 10px;
  text-align: justify;
  border-radius: 10px;  
}
.description .oneline {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
  .product-display {
      flex-direction: column;
      
      margin: 0;
      width: 100%;
  }

  .product-image {
      margin-bottom: 0;
  }

  .label-container {
      display: block;
  }

  .label-item {
    margin: 15px 0;
  }
}
